/* Colors */
/* #0b0b0b */
/* Icon */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?vtmydu');
    src:  url('../fonts/icomoon.eot?vtmydu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?vtmydu') format('truetype'),
      url('../fonts/icomoon.woff?vtmydu') format('woff'),
      url('../fonts/icomoon.svg?vtmydu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }
  
/* ---Body--- */
body{
    margin: 0;
}
/* ---Header--- */
.header {
    width: 100%;
    height: 44px;
    background: #1B2127;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 15px;
    position: fixed;
}

.header .container a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    /* display: flex;
    align-items: center; */
}

.header ol{
    display: flex;
    height: inherit;
    list-style: none;
    padding: 0;
}

.header ol li{
    height: inherit;
}
/* .tipografia-name{
    font-size: 25px;
} */

/* ---Burguer Menu--- */
.burguer-menu{
    width: 19px;
    height: 19px;
    /* background-color: aquamarine; */
    color: white;
    font-size: 19px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* line-height: 40px; */
    text-align: center;
    /* position: fixed; */
    /* right: 0;
    top: 25px; */
}

.container-menu{
    width: 19px;
    height: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;

}

.m{
    width: inherit;
    height: 2px;
    background-color: white;
    margin: 2px 0 ;
}

.bar1{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.bar2{
    /* animation-name: none; */
    /* animation-duration: 0.4s; */
    transition: 0.4s;
}

.change1{
    transform: translateY(3px)  scale(0.84) rotate(45deg);
}

.change2{
    transform: translateY(-3px) scale(0.84) rotate(-45deg);
}

.sidenav{
    height: 100%;
    width: 150px;
    background-color: #1B2127;
    padding: 44px 10px 10px;
    position: fixed;
    z-index: 1  ;
    top: 0;
    right: -200px;
    overflow-x: hidden;
    transition: 0.5s;
}

.cgnav{
    right: 0;
}

.sidenav a{
    color: #BBBBBB;
    font-size: 15px;
    padding: 0px 10px 20px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #EEEEEE;
}

/* @keyframes rotation1{
    from{
        transform: rotate(0);
        transform: translateY(3px);
    }
    to{
        transform: translateY(3px)  scale(0.84) rotate(45deg);
    }
}

@keyframes rotation2{
    from{
        transform: rotate(0);
        transform: translateY(-3px);
    }
    to{
        transform: translateY(-3px) scale(0.84) rotate(-45deg);
    }
} */


/* ---Conteiner Properties--- */
.container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ---Hero--- */
.hero{
    color: white;
    width: 100%;
    height: 100vh;
    background-color: cornflowerblue;
}

.container-hero{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 400;
    font-family:'Fjalla One',sans-serif;
    font-size: 44px;
    /* 'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600 */
}

/* -----Catalog-Games----- */
.container-catalog{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; 
    font-weight: 450;
    font-family:'Fjalla One',sans-serif;
    font-size: 42px;
    /* 'Fjalla One' 450*/
    /* Roboto 550 */
    /* Lato 600 */
}

